body {
    background-color: rgb(10, 10, 25);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1vw;
}

#info, #actions {
    border: solid 1.5vw;
    border-color: white;
    border-radius: 0.75vw;
}

#info {
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#actions {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button:not(.difficulty) {
    border: 0;
    width: 47.5vw;
    height: 50px;
}

#button-1 {background-color: rgb(255, 120, 100); }

#button-2 {
    background-color: rgb(100, 120, 255);
    float: right;
}

#button-3 {background-color: rgb(255, 255, 120); }

#button-4 {
    background-color: rgb(100, 255, 120);
    float: right;
}

#wawa {
    width: 10vw;
    height: 10vw;
}

button:disabled {
    background-color: rgb(120, 120, 120) !important;
    color: white;
}

.difficulty {
    border: 0;
    width: 10vw;
    height: 10vw;
}

.dead {color: rgb(255, 120, 100);}
#warning {color: darkred;}
#d-easy {background-color: rgb(100, 255, 120)}
#d-normal {background-color:rgb(255, 255, 120)}
#d-hard {background-color:rgb(255, 120, 100)}