body {
    background-color: rgb(10, 10, 25);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1vw;
}

#info, #actions, #difficulty-builder {
    border: solid 1.5vw;
    border-color: white;
    border-radius: 0.75vw;
}

#info {
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#actions {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button.move {
    border: 0.5vw solid;
    width: 47.5vw;
    height: 50px;
}

button {
    padding: 0;
    color: black;
}

#button-1, .damageMove {
    background-color: rgb(255, 120, 100); 
    border-color: rgb(225, 90, 70) !important;
}

#button-2, .statusMove {
    background-color: rgb(100, 120, 255);
    border-color: rgb(70, 90, 225) !important;
}

#button-3, .specialDmgMove {
    background-color: rgb(255, 255, 120); 
    border-color: rgb(225, 225, 90) !important;
}

#button-4, .healMove {
    background-color: rgb(100, 255, 120);
    border-color: rgb(70, 225, 90) !important;
}



#wawa {
    width: 10vw;
    height: 10vw;
}

button:disabled {
    background-color: rgb(120, 120, 120) !important;
    color: white;
}

.difficulty {
    border: 0;
    width: 10vw;
    height: 10vw;
    font-size: 2vw;
}

.move-select {
    width: 15vw;
    height: 15vw;
    margin: 0.5vw;
}

textarea {
    border-radius: 10px;
}

#difficulty-builder {
    width: 264px;
}

#difficulty-finish-button {
    border: 5px solid rgb(10, 10, 25);
    height: 50px;
    position: absolute;
}

.dead, .nerf, #key-red {color: rgb(255, 120, 100);}
.boost, #key-green {color: rgb(100, 255, 120);}
#warning {color: darkred;}
#d-easy {background-color: rgb(100, 255, 120)}
#d-normal {background-color:rgb(255, 255, 120)}
#d-hard {background-color:rgb(255, 120, 100)}
#button-2, #button-4 {float: right;}
#key-yellow {color: rgb(255, 255, 120)}
#key-blue, .defense {color: rgb(100, 120, 255)}